# Python
*.pyc
__pycache__/

# Virtual environment
venv/
env/

# Flask instance folder
instance/

# Environment variables
.env

# Database files
*.db

# OS files
.DS_Store
Thumbs.db

# IDE/editor configs (optional)
.vscode/
.idea/
